.InputCounter {
  width: 200px;
  padding: 5px 15px;
}

.InputCounterWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.label {
  display: flex;
}

.btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
